
build/CSharpTest.Net.RpcLibrary.dll
build/CSharpTest.Net.RpcLibrary.pdb
build/Google.ProtocolBuffers.dll
build/Google.ProtocolBuffers.pdb
build/Google.ProtocolBuffers.Rpc.dll
build/Google.ProtocolBuffers.Rpc.pdb
build/Google.ProtocolBuffers.Rpc.Test.dll
build/Google.ProtocolBuffers.Rpc.Test.pdb
build/Google.ProtocolBuffers.Serialization.dll
build/Google.ProtocolBuffers.Serialization.pdb
build/Google.ProtocolBuffers.Test.dll
build/Google.ProtocolBuffers.Test.pdb
build/LICENSE-2.0.txt
build/ProtocolBuffers.Rpc.Benchmarks.dll
build/ProtocolBuffers.Rpc.Benchmarks.pdb
build/ProtocolBuffers.Rpc.Benchmarks.xml
build/SampleProtoRpc.exe
build/SampleProtoRpc.pdb
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/CSharpTest.Net.RpcLibrary.dll
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/CSharpTest.Net.RpcLibrary.pdb
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/Google.ProtocolBuffers.dll
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/Google.ProtocolBuffers.pdb
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/Google.ProtocolBuffers.Rpc.dll
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/Google.ProtocolBuffers.Rpc.pdb
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/Google.ProtocolBuffers.Serialization.dll
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/Google.ProtocolBuffers.Serialization.pdb
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/LICENSE-2.0.txt
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/ProtocolBuffers.Rpc.Benchmarks.dll
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/ProtocolBuffers.Rpc.Benchmarks.pdb
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin/ProtocolBuffers.Rpc.Benchmarks.xml
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/Google.ProtocolBuffers.Rpc.Benchmarks.csproj.user
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Test/Google.ProtocolBuffers.Rpc.Test.csproj.user
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Test/obj/Debug/Google.ProtocolBuffers.Rpc.Test.csproj.FileListAbsolute.txt
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Test/obj/Debug/Google.ProtocolBuffers.Rpc.Test.csprojResolveAssemblyReference.cache
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Test/obj/Debug/Google.ProtocolBuffers.Rpc.Test.dll
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Test/obj/Debug/Google.ProtocolBuffers.Rpc.Test.pdb
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc/obj/Debug/Google.ProtocolBuffers.Rpc.csproj.FileListAbsolute.txt
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc/obj/Debug/Google.ProtocolBuffers.Rpc.csprojResolveAssemblyReference.cache
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc/obj/Debug/Google.ProtocolBuffers.Rpc.dll
Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc/obj/Debug/Google.ProtocolBuffers.Rpc.pdb
Google.ProtocolBuffers.Serialization/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Google.ProtocolBuffers.Serialization/obj/Debug/Google.ProtocolBuffers.Serialization.csproj.FileListAbsolute.txt
Google.ProtocolBuffers.Serialization/obj/Debug/Google.ProtocolBuffers.Serialization.csprojResolveAssemblyReference.cache
Google.ProtocolBuffers.Serialization/obj/Debug/Google.ProtocolBuffers.Serialization.dll
Google.ProtocolBuffers.Serialization/obj/Debug/Google.ProtocolBuffers.Serialization.pdb
Google.ProtocolBuffers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Google.ProtocolBuffers/obj/Debug/Google.ProtocolBuffers.csproj.FileListAbsolute.txt
Google.ProtocolBuffers/obj/Debug/Google.ProtocolBuffers.csprojResolveAssemblyReference.cache
Google.ProtocolBuffers/obj/Debug/Google.ProtocolBuffers.dll
Google.ProtocolBuffers/obj/Debug/Google.ProtocolBuffers.pdb
SampleProtoRpc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SampleProtoRpc/obj/Debug/SampleProtoRpc.csproj.FileListAbsolute.txt
SampleProtoRpc/obj/Debug/SampleProtoRpc.csprojResolveAssemblyReference.cache
SampleProtoRpc/obj/Debug/SampleProtoRpc.exe
SampleProtoRpc/obj/Debug/SampleProtoRpc.pdb
.vs/Google.ProtocolBuffers_2.4.1.555/v14/.suo
Google.ProtocolBuffers.Test/Google.ProtocolBuffers.Test.csproj.user
Google.ProtocolBuffers.Test/obj/Debug/Google.ProtocolBuffers.Test.pdb
Google.ProtocolBuffers.Test/obj/Debug/Google.ProtocolBuffers.Test.dll
Google.ProtocolBuffers.Test/obj/Debug/Google.ProtocolBuffers.Test.csprojResolveAssemblyReference.cache
Google.ProtocolBuffers.Test/obj/Debug/Google.ProtocolBuffers.Test.csproj.FileListAbsolute.txt
Google.ProtocolBuffers.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/ProtocolBuffers.Rpc.Benchmarks.xml
bin/obj/ProtocolBuffers.Rpc.Benchmarks/ProtocolBuffers.Rpc.Benchmarks.pdb
bin/obj/ProtocolBuffers.Rpc.Benchmarks/ProtocolBuffers.Rpc.Benchmarks.dll
bin/obj/ProtocolBuffers.Rpc.Benchmarks/Google.ProtocolBuffers.Rpc.Benchmarks.csprojResolveAssemblyReference.cache
bin/obj/ProtocolBuffers.Rpc.Benchmarks/Google.ProtocolBuffers.Rpc.Benchmarks.csproj.FileListAbsolute.txt
bin/obj/CSharpTest.Net.RpcLibrary/CSharpTest.Net.RpcLibrary.Resources.resources
bin/obj/CSharpTest.Net.RpcLibrary/CSharpTest.Net.RpcLibrary.pdb
bin/obj/CSharpTest.Net.RpcLibrary/CSharpTest.Net.RpcLibrary.dll
bin/obj/CSharpTest.Net.RpcLibrary/CSharpTest.Net.RpcLibrary.csprojResolveAssemblyReference.cache
bin/obj/CSharpTest.Net.RpcLibrary/CSharpTest.Net.RpcLibrary.csproj.GenerateResource.Cache
bin/obj/CSharpTest.Net.RpcLibrary/CSharpTest.Net.RpcLibrary.csproj.FileListAbsolute.txt
.vs/Google.ProtocolBuffers_2.4.1.555/v16/Server/sqlite3/storage.ide-wal
.vs/Google.ProtocolBuffers_2.4.1.555/v16/.suo
.vs/Google.ProtocolBuffers_2.4.1.555/v16/Server/sqlite3/db.lock
.vs/Google.ProtocolBuffers_2.4.1.555/v16/Server/sqlite3/storage.ide
.vs/Google.ProtocolBuffers_2.4.1.555/v16/Server/sqlite3/storage.ide-shm
bin/obj/CSharpTest.Net.RpcLibrary/CSharpTest.Net.RpcLibrary.csproj.CoreCompileInputs.cache
bin/obj/ProtocolBuffers.Rpc.Benchmarks/Google.ProtocolBuffers.Rpc.Benchmarks.csproj.CopyComplete
bin/obj/ProtocolBuffers.Rpc.Benchmarks/Google.ProtocolBuffers.Rpc.Benchmarks.csproj.CoreCompileInputs.cache
bin/obj/ProtocolBuffers.Rpc.Benchmarks/Google.ProtocolBuffers.Rpc.Benchmarks.csprojAssemblyReference.cache
/bin
bin/obj/CSharpTest.Net.RpcLibrary/DesignTimeResolveAssemblyReferencesInput.cache
/SampleProtoRpc/obj
/SampleProtoRpc/bin
/Google.ProtocolBuffers.Test/obj
/Google.ProtocolBuffers.Serialization/obj
/Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Test/bin
/Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Test/obj
/Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc.Benchmarks/bin
/Google.ProtocolBuffers.Rpc/Google.ProtocolBuffers.Rpc/obj
/Google.ProtocolBuffers/obj
/demo/bin
/demo/obj
/.vs
